transformers
datasets
accelerate
peft
bitsandbytes
safetensors
sentencepiece
huggingface_hub
tqdm
gradio_client
PyPDF2
sentence-transformers
transformers
tokenizers
torch
pinecone
numpy
requests
python-dotenv
gtts
